html {
  height: 100vh;
  overflow: hidden;
  background-color: gray;
}
body, #root {
  width:  calc(100vw - (100vw - 100%));;
  margin: 0 0;
  padding: 0 0 ;
}
.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.sidebar {
  overflow: hidden;
  display: flex;
  flex: 2.5 1;
  flex-direction: column;
  background: burlywood;
  max-width: 325px;
}
.game {
  display: flex;
  flex: 9.5 5;
  flex-direction: column;
  background: lightsteelblue;
  min-height: 100%;
}
.sidebar__container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.sidebar__row {
  border: 1px solid black;
  padding: 0 0;
  margin: 1vh;
}
.sidebar__row-header {
  flex: 4 1 17vh;
}
.sidebar__header {
  font-family: 'Ubuntu Condensed', sans-serif;
}
.sidebar__row-list {
  display: flex;
  justify-content: center;
  flex: 6 1 66.66vh;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1vh;
  width: 80%;
  }
.list__item {
  display: flex;
  flex-direction: row;
  height: 5vh;
  border: 1px solid black;
  margin: 1vh;
}
.list__item-skeleton {
  border: 1px solid #b0a5a5;
  color: #b0a5a5;
}
.item__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__content-avi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2 1;
}
.item__content-name {
  flex: 10 2;
}
.sidebar__row-footer {
  flex: 3 1 10vh;
}
.game__table {
  margin: 1vh 1vh .5vh 1vh;
  border: 1px solid black;
  flex: 9 2 74vh;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.game__hand {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-height: 33%;
  margin: .5vh 1vh 1vh 1vh;
  border: 1px solid black;
  flex: 1 1 23vh;
}
.giphy__list {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0 0;
}
.react-freezeframe {
  z-index: 10;
}
.ff-canvas {
  border-radius: .25rem;
}
.ff-image {
  border-radius: .25rem;
}

.card__judge {
  background: black;
  border-radius: .2rem;
  margin: auto;
  height: 30%;
  width: 20%;
  max-width: 175px;
  align-self: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
}

.judge__text {
  margin: 1rem;
  color: white;
}

.modal {
  display: flex;
  border-radius: 1.5rem;
  background-color: lightgreen;
  height: 60%;
  width: 55%;
}

.modal__player {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
